@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");
body {
  font-family: "Nunito", sans-serif;
}
h1 {
  font-family: "Nunito", sans-serif;
}
input {
  width: 100% !important;
  border-radius: 4px;
  height: 47px;
  border: 1px solid #4154f1 !important;
  padding-left: 10px;
}
.btn-get-started {
  width: 25%;
  margin-top: 16px;
  margin-bottom: 16px;
  border: none !important;
  line-height: 0;
  padding: 15px 40px;
  border-radius: 4px;
  transition: 0.5s;
  color: #fff;
  background: #4154f1;
  box-shadow: 0px 5px 30px rgba(65, 84, 241, 0.4);
}

.btn-get-started span {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  font-size: 16px;
  letter-spacing: 1px;
}

.btn-get-started i {
  margin-left: 5px;
  font-size: 18px;
  transition: 0.3s;
}

.btn-get-started:hover i {
  transform: translateX(5px);
}
#chat-container {
  width: 60%;
  text-align: left;
}
.user {
  text-align: right;
  margin-bottom: 5px;
  list-style-type: none; /* Remove default bullet dots */
}
.bot {
  text-align: left;
  margin-bottom: 5px;
  list-style-type: none; /* Remove default bullet dots */
}
.user-message {
  background-color: #ffc9c9;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.bot-message {
  background-color: #d3e0f5;
  border-radius: 10px;
  padding: 10px;
  display: inline-block;
}
.avatar {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 5px;
}
